useDynLib(siar)

import(hdrcde, coda, MASS)

export("siarmenu","panelhist","panelcor","panelcontour","newgraphwindow","siardemo","siarhdrs","siarhistograms","siarmatrixplot","siarmcmcdirichlet","siarsinglegrouprun","siarmultigrouprun","siarproportionbysourceplot","siarsaveoutput","loadsiardata","siarplotdata","geese1demo","geese2demo","sourcesdemo","correctionsdemo","allgroups")

