useDynLib(siar)

import(hdrcde, coda, MASS)

export("siarmenu","panelhist","panelcor","panelcontour","newgraphwindow","siardemo","siarhdrs","siarhistograms","siarmatrixplot","siarmcmcdirichletv4","siarsinglegrouprun","siarmultigrouprun","siarproportionbysourceplot","siarsaveoutput","siarloaddata","siarplotdata","geese1demo","geese2demo","sourcesdemo","correctionsdemo","concdepdemo","allgroups","siarsolomcmcv4","siarsolosinglegrouprun","siarsolomultigrouprun","siarelicit","siaraddcross","siarplotdatawrapper","siarplottarget","siarproportionbygroupplot")
