useDynLib(siar)

export(
"siarmenu",
"panelhist",
"panelcor",
"panelcontour",
"newgraphwindow",
"siardemo",
"siarhdrs",
"siarhistograms",
"siarmatrixplot",
"siarmcmcdirichletv4",
"siarsinglegrouprun",
"siarmultigrouprun",
"siarproportionbysourceplot",
"siarproportionbygroupplot",
"siarsaveoutput",
"siarloaddata",
"siaraddcross",
"siarplotdata",
"siarplottarget",
"siarplotdatawrapper",
"siarsolosinglegrouprun",
"siarsolomultigrouprun",
"siarsolomcmcv4"
)
